#### **Data Management**

In [1]:
#importing lib
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt
#load data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()
#data cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

README.md:   0%|          | 0.00/3.25k [00:00<?, ?B/s]

d:\Anaconda\envs\python_course\Lib\site-packages\huggingface_hub\file_download.py:143: UserWarning: `huggingface_hub` cache-system uses symlinks by default to efficiently store duplicated files but your machine does not support them in C:\Users\Manoj Gogoi\.cache\huggingface\hub\datasets--lukebarousse--data_jobs. Caching files will still work but in a degraded version that might require more space on your disk. This warning can be disabled by setting the `HF_HUB_DISABLE_SYMLINKS_WARNING` environment variable. For more details, see https://huggingface.co/docs/huggingface_hub/how-to-cache#limitations.
To support symlinks on Windows, you either need to activate Developer Mode or to run Python as an administrator. In order to activate developer mode, see this article: https://docs.microsoft.com/en-us/windows/apps/get-started/enable-your-device-for-development
  warnings.warn(message)

data_jobs.csv:   0%|          | 0.00/231M [00:00<?, ?B/s]

Generating train split:   0%|          | 0/785741 [00:00<?, ? examples/s]

In [2]:
df.sample(10)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
286661,Data Scientist,Data Scientist (DoD Clearance required) Jobs,"Fort Bragg, NC",via Clearance Jobs,Full-time,False,Georgia,2023-03-11 18:08:10,False,True,United States,None,NaN,NaN,"Zachary Piper Solutions, LLC","['python', 'r', 'golang', 'javascript', 'pytor...","{'libraries': ['pytorch'], 'other': ['git', 'k..."
494460,Data Engineer,Lead Data Engineer,"Baltimore, MD",via Jobg8,Full-time and Part-time,False,"Illinois, United States",2023-12-28 11:27:40,False,True,United States,None,NaN,NaN,Jobs for Humanity,"['java', 'scala', 'python', 'sql', 'nosql', 'a...","{'cloud': ['aws', 'redshift', 'snowflake', 'az..."
350127,Data Analyst,Data Analyst,"Makati, Metro Manila, Philippines",via Jooble,Full-time,False,Philippines,2023-07-09 23:52:38,False,False,Philippines,None,NaN,NaN,Metrobank,"['sas', 'sas', 'power bi']","{'analyst_tools': ['sas', 'power bi'], 'progra..."
454023,Senior Data Analyst,SAINT LAURENT Senior Data Analyst,Hong Kong,via BeBee 香港,Full-time,False,Hong Kong,2023-03-24 14:56:39,False,False,Hong Kong,None,NaN,NaN,Yves Saint Laurent SAS,"['python', 'r', 'sql', 'sas', 'sas', 'bigquery...","{'analyst_tools': ['sas', 'tableau', 'power bi..."
713872,Senior Data Scientist,Senior Data Scientist,Virginia,via SimplyHired,Full-time,False,"New York, United States",2023-10-20 02:23:10,False,False,United States,None,NaN,NaN,M9 Solutions,"['databricks', 'azure']","{'cloud': ['databricks', 'azure']}"
584750,Software Engineer,"Software Engineer [fullstack, backend, data]",Anywhere,via Remotely,Full-time,True,Spain,2023-05-09 09:39:34,False,False,Spain,None,NaN,NaN,Capchase,"['go', 'elixir', 'python', 'gitlab', 'airtable']","{'async': ['airtable'], 'other': ['gitlab'], '..."
351352,Software Engineer,Application Engineer,Denmark,via Trabajo.org,Full-time,False,Denmark,2023-05-01 23:21:31,True,False,Denmark,None,NaN,NaN,CCV GmbH,None,None
165216,Data Engineer,Principal Data Engineer,Anywhere,via LinkedIn,Full-time,True,"California, United States",2023-12-14 15:06:09,False,False,United States,None,NaN,NaN,Dice,"['scala', 'mongodb', 'mongodb', 'nosql', 'java...","{'cloud': ['aws'], 'databases': ['mongodb', 'd..."
61439,Software Engineer,Backend Engineering Lead,"Tangerang, Tangerang City, Banten, Indonesia",via Trabajo.org,Full-time,False,Indonesia,2023-12-12 06:38:59,False,False,Indonesia,None,NaN,NaN,PT BFI Finance Indonesia Tbk,"['go', 'java', 'spring']","{'libraries': ['spring'], 'programming': ['go'..."
210027,Data Scientist,"Data Scientist, Poland","Warsaw, Poland",via Praca Trabajo.org,Full-time,False,Poland,2023-06-08 22:37:36,False,False,Poland,None,NaN,NaN,Surprise.com,"['python', 'sql', 'snowflake', 'redshift', 'sp...","{'analyst_tools': ['tableau'], 'cloud': ['snow..."

In [3]:
dataset = load_dataset('lukebarousse/data_jobs')
df_original = dataset['train'].to_pandas()

In [4]:
#COPY Method helps experimenting with the dataset without changing the original dataset
df_altered = df_original.copy()

In [5]:
print('ID of ogriginal:',id(df_original))
print('ID of altered:',id(df_altered))

ID of ogriginal: 2914971999312
ID of altered: 2914682234768

In [6]:
median_salary = df_altered['salary_year_avg'].median()
df_altered['salary_year_avg'] = df_altered['salary_year_avg'].fillna(median_salary)
df_altered.loc[:5,'salary_year_avg']

0    115000.0
1    115000.0
2    115000.0
3    115000.0
4    115000.0
5    115000.0
Name: salary_year_avg, dtype: float64

In [7]:
df_original.loc[:5,'salary_year_avg']

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
Name: salary_year_avg, dtype: float64